@using Codecool.HackerNewsClient.Models

@model IEnumerable<News>


<div class="jumbotron">
    @{
        var nextPage = (int)ViewData["currentPage"] + 1;
        var previousPage = (int)ViewData["currentPage"] - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }
    }

    <a asp-controller="Home" asp-action="Index" asp-route-page="@previousPage"> Previous page </a>

    <a asp-controller="Home" asp-action="Index" asp-route-page="@nextPage"> Next page </a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Time Ago
        </th>
        <th>
            Web Url
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAgo)
            </td>
            <td>
                <a href=@item.Url target="_blank">Link</a>
            </td>
        </tr>
    }

</table>